<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanine.ttaettaelo.mapper.BathhouseInfoLikeMapper">
	<!-- 목욕탕 좋아요 추가 -->
	<insert id="insertLike">
		INSERT INTO ojt_bathhouse_info_like ( 
			bathhouse_info_id,
			member_id	
		)
		VALUES (
			#{bathhouseInfoId},
			#{memberId}
		)
	</insert>
	
	<!-- 목욕탕 좋아요 삭제 -->
	<delete id="deleteLike">
		DELETE FROM ojt_bathhouse_info_like 
		WHERE bathhouse_info_id = #{bathhouseInfoId}
		AND   member_id = #{memberId}
	</delete>
	
	<!-- 목욕탕 좋아요 중복 확인 -->
	<select id="isLiked" resultType="boolean">
		SELECT 
			COUNT(*) > 0
		FROM
			ojt_bathhouse_info_like
		WHERE
			bathhouse_info_id =#{bathhouseInfoId}
		AND
			member_id = #{memberId}
	</select>
	
	<!-- 목욕탕 좋아요 총 개수 -->
	<select id="countLikes" resultType="int">
		SELECT 
			COUNT(*)
		FROM
			ojt_bathhouse_info_like
		WHERE
			bathhouse_info_id = #{bathhouseInfoId}
	</select>
</mapper>