<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanine.ttaettaelo.mapper.BathhouseInfoMapper">
	<resultMap id="bathhouseInfoMap" type="com.tanine.ttaettaelo.dto.BathhouseInfoDTO">
		<!-- 목욕탕 정보 -->
	    <id property="bathhouseInfoId" column="bathhouseInfoId" />
	    <result property="name" column="name" />
	    <result property="type" column="type" />
	    <result property="location" column="location" />
	    <result property="imgUrl" column="imgUrl" />
	    
	    <!-- 서브 쿼리 -->
	    <result property="avgRating" column="avgRating" />
    	<result property="reviewCount" column="reviewCount" />
    	<result property="likeCount" column="likeCount" />
	    
	    <!-- 목욕탕 태그 -->
	    <collection property="tagKeyword" ofType="com.tanine.ttaettaelo.dto.BathhouseTagDTO">
	        <result property="tagName" column="tagName"/>
	    </collection>
	</resultMap>

	<!-- 목욕탕 정보글 조회 -->
	<select id="getAllBathhouseInfo" resultMap="bathhouseInfoMap"> 
		SELECT 
			b.bathhouse_info_id		AS bathhouseInfoId,							<!-- 목욕탕 정보글 일련번호 -->
			b.name 					AS name,									<!-- 목욕탕 이름 -->
			b.type 					AS type,									<!-- 목욕탕 타입 -->
			b.location 				AS location,								<!-- 위치 -->
			b.img_url				AS imgUrl,									<!-- 이미지 -->
			t.tag_name				AS tagName,									<!-- 목욕탕 태그 -->
			AVG(r.rating) 			AS avgRating,								<!-- 평균 평점 -->
			COUNT(r.review_id) 		AS reviewCount,								<!-- 리뷰 수 -->
			( SELECT COUNT(l.bathhouse_info_id)
				FROM ojt_bathhouse_info_like l
				WHERE l.bathhouse_info_id = b.bathhouse_info_id) AS likeCount	<!-- 좋아요 수 -->
		FROM ojt_bathhouse_info b
		LEFT JOIN ojt_review r ON r.bathhouse_info_id = b.bathhouse_info_id
		LEFT JOIN ojt_info_tag_mapping m ON b.bathhouse_info_id = m.bathhouse_info_id
		LEFT JOIN ojt_bathhouse_tag t ON m.tag_id = t.tag_id
		WHERE 1=1
		<if test="name != null and name != ''">
			AND name LIKE CONCAT('%', #{name}, '%')
		</if>
		<if test="location != null and location != ''">
			AND location LIKE CONCAT('%', #{location}, '%')
		</if>
		<if test="type != null and type != ''">
			AND type LIKE CONCAT('%', #{type}, '%')
		</if>
		<if test="tagName != null and tagName != ''">
			AND tag_name LIKE CONCAT('%', #{tagName}, '%')
		</if>
		GROUP BY
			b.bathhouse_info_id,
			b.name,
			b.type,
			b.location,
			b.img_url,
			t.tag_name
		ORDER BY
			b.bathhouse_info_id DESC
	</select>
		
	<!-- 목욕탕 정보 상세글 조회 -->
	<select id="getInfoDetailed" parameterType="long" resultType="com.tanine.ttaettaelo.dto.BathhouseInfoDTO">
		SELECT 
			bathhouse_info_id 		AS bathhouseInfoId,		<!-- 목욕탕 정보글 일련번호 -->
			name 					AS name,				<!-- 목욕탕 이름 -->
			introduction 			AS introduction,		<!-- 목욕탕 소개 -->
			type 					AS type,				<!-- 목욕탕 타입 -->
			location 				AS location,			<!-- 위치 -->
			start_time 				AS startTime,			<!-- 시작 시간 -->
			end_time 				AS endTime,				<!-- 마치는 시간 -->
			closed_day 				AS closedDay,			<!-- 휴무일 -->
			contact_number 			AS contactNumber,		<!-- 연락처 -->
			img_url 				AS imgUrl				<!-- 이미지 -->
		FROM
			ojt_bathhouse_info
		WHERE
			bathhouse_info_id = #{bathhouseInfoId}
	</select>
	
	<!-- 목욕탕 아이디(번호)에 해당하는 태그 가져오기 -->
	<select id="getTagByBAthhouseInfoId" parameterType="long" resultType="com.tanine.ttaettaelo.dto.BathhouseTagDTO">
		SELECT 
			b.bathhouse_info_id 	AS bathhouseInfoId,		<!-- 목욕탕 정보글 일련번호 -->
			t.tag_id 				AS tagId,				<!-- 목욕탕 태그 일련번호 -->
			t.tag_name 				AS tagName				<!-- 목욕탕 태그 -->
		FROM ojt_bathhouse_tag t
		INNER JOIN ojt_info_tag_mapping m ON t.tag_id = m.tag_id
		INNER JOIN ojt_bathhouse_info b ON b.bathhouse_info_id = m.bathhouse_info_id
		WHERE
			b.bathhouse_info_id = #{bathhouseInfoId}
	</select>
	
	<!-- 내가 좋아요한 목욕탕 리스트 얻기 -->
	<select id="getLikedBathhouse" resultType="com.tanine.ttaettaelo.dto.BathhouseInfoDTO">
		SELECT 
			b.bathhouse_info_id 	AS bathhouseInfoId,		<!-- 목욕탕 정보글 일련번호 -->
			b.name 					AS name					<!-- 목욕탕 이름 -->
		FROM ojt_bathhouse_info b
		LEFT JOIN ojt_bathhouse_info_like l ON b.bathhouse_info_id = l.bathhouse_info_id
		INNER JOIN ojt_member m ON l.member_id = m.member_id
		WHERE
			m.member_id = #{memberId}
	</select>
	
	<!-- 랜덤으로 이미지 5개 뽑기 -->
	<select id="getRandomImages" resultType="String">
		SELECT
			img_url 	AS imgUrl 	<!-- 이미지 -->
		FROM
			ojt_bathhouse_info
		WHERE
			img_url IS NOT NULL
		AND 
			img_url != ''
		ORDER BY
			RAND() LIMIT 5
	</select>
</mapper>
