<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanine.ttaettaelo.mapper.LoginMapper">
	<!-- 로그인 -->
	<select id="loginMember" parameterType="String" resultType="com.tanine.ttaettaelo.dto.LoginDTO">
		SELECT
			member_id 	AS memberId,	<!-- 회원 일련번호 -->
			login_id 	AS loginId,		<!-- 로그인 아이디 -->
			password 	AS password,	<!-- 비밀번호 -->
			name 		AS name,		<!-- 이름 -->
			email 		AS email,		<!-- 이메일 -->
			gender 		AS gender,		<!-- 성별 -->
			address 	AS address,		<!-- 주소 -->
			role 		AS role,		<!-- 권한 -->
			is_deleted 	AS isDeleted	<!-- 탈퇴 여부 -->
		FROM
			ojt_member
		WHERE
			login_id = #{loginId}
		AND
			is_deleted = 0
	</select>
</mapper>