<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanine.ttaettaelo.mapper.MemberMapper">
	<select id="countLoginId" resultType="int">
		SELECT <!-- 중복 아이디 확인 -->
			count(login_id) 	AS 로그인아이디수
		FROM
			member
		WHERE 
			login_id = #{loginId}
	</select>
	
	<insert id="saveMember" parameterType="com.tanine.ttaettaelo.dto.MemberDTO">
		INSERT INTO member <!-- 회원 저장 -->
			  (login_id,
			   password,
			   name,
			   email,
			   gender,
			   address)
		VALUES
			(#{loginId},
			 #{password},
			 #{name},
			 #{email},
			 #{gender},
			 #{address})
	</insert>
	
	<select id="getMemberById" parameterType="Long" resultType="com.tanine.ttaettaelo.dto.MemberDTO">
		SELECT <!-- 회원 아이디로 회원 정보 얻기 -->
			member_id 	AS memberId,
			name 		AS name,
			login_id 	AS loginId,
			email 		AS email,
			address 	AS address,
			gender 		AS gender
		FROM
			member
		WHERE 
			member_id = #{memberId}
	</select>
	
	<select id="getLoginIdByNameEmail" resultType="string">
		SELECT
			login_id AS loginId
		FROM member
		WHERE
			name = #{name}
		AND
			email = #{email}
	</select>
	
	<select id="getMemberByLoginIdEmail" resultType="com.tanine.ttaettaelo.dto.MemberDTO">
		SELECT
			member_id 		AS memberId,
			login_id 		AS loginId,
			email 			AS email,
			name 			AS name,
			gender 			AS gender,
			address 		AS address
		FROM
			member
		WHERE
			login_id = #{loginId}
		AND
			email = #{email}
	</select>
	
	<update id="updatePassword" parameterType="com.tanine.ttaettaelo.dto.MemberDTO">
		UPDATE member
		SET password = #{password}
		WHERE login_id = #{loginId}
	</update>
	
  	<update id="updateMember" parameterType="com.tanine.ttaettaelo.dto.MemberDTO">
		UPDATE
			member
		SET
			name = #{name},
			email = #{email},
			gender = #{gender},
			address = COALESCE(#{address}, address)
		WHERE 
			member_id = #{memberId}
	</update>
</mapper>