<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanine.ttaettaelo.mapper.MemberMapper">
	<select id="countLoginId" resultType="int">
		SELECT <!-- 중복 아이디 확인 -->
			count(login_id)
		FROM
			member
		WHERE 
			login_id = #{loginId}
	</select>
	
	<insert id="saveMember" parameterType="com.tanine.ttaettaelo.dto.MemberDTO">
		INSERT INTO member ( <!-- 회원 등록 -->
			  login_id,
			  password,
			  name,
			  email,
			  gender,
			  address
		)
		VALUES (
			#{loginId},
			#{password},
			#{name},
			#{email},
			#{gender},
			#{address}
		)
	</insert>
	
	<select id="getMemberById" parameterType="Long" resultType="com.tanine.ttaettaelo.dto.MemberDTO">
		SELECT <!-- 회원 아이디로 회원 정보 얻기 -->
			member_id 	AS memberId,
			name 		AS name,
			login_id 	AS loginId,
			email 		AS email,
			address 	AS address,
			gender 		AS gender
		FROM
			member
		WHERE 
			member_id = #{memberId}
	</select>
	
	<select id="getLoginIdByNameEmail" resultType="string">
		SELECT <!-- 이름과 이메일로 회원의 이름 얻기 -->
			login_id 	AS loginId
		FROM
			member
		WHERE
			name = #{name}
		AND
			email = #{email}
	</select>
	
	<select id="getMemberByLoginIdEmail" resultType="com.tanine.ttaettaelo.dto.MemberDTO">
		SELECT <!-- 로그인 아이디와 이메일로 회원 정보 얻기 -->
			member_id 	AS memberId,
			login_id 	AS loginId,
			email 		AS email,
			name 		AS name,
			gender 		AS gender,
			address 	AS address
		FROM
			member
		WHERE
			login_id = #{loginId}
		AND
			email = #{email}
	</select>
	
	<select id="getMemberByLoginId" resultType="com.tanine.ttaettaelo.dto.MemberDTO">
		SELECT <!-- 로그인 아이디로 회원 정보 얻기 -->
			member_id 	AS memberId,
			login_id 	AS loginId,
			email 		AS email,
			name 		AS name,
			gender 		AS gender,
			address 	AS address
		FROM
			member
		WHERE
			login_id = #{loginId}
	</select>
	
	<update id="updatePassword" parameterType="com.tanine.ttaettaelo.dto.MemberDTO">
		UPDATE member <!-- 회원 비밀번호 변경 -->
		SET password = #{password}
		WHERE login_id = #{loginId}
	</update>
	
  	<update id="updateMember" parameterType="com.tanine.ttaettaelo.dto.MemberDTO">
		UPDATE member <!-- 회원 정보 수정 -->
		SET name 	= #{name},
			email 	= #{email},
			gender 	= #{gender},
			address = COALESCE(#{address}, address)
		WHERE member_id = #{memberId}
	</update>
	
	<delete id="deleteMemberById">
		DELETE FROM member <!-- 회원 탈퇴 -->
		WHERE member_id  = #{memberId}
	</delete>
</mapper>