<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tanine.ttaettaelo.mapper.ReviewMapper">
	<insert id="insertReview" parameterType="com.tanine.ttaettaelo.dto.ReviewDTO">
        INSERT INTO ojt_review ( <!-- 리뷰 등록 -->
        	bathhouse_info_id, 
        	member_id, 
        	content, 
        	rating
        )
        VALUES (
        	#{bathhouseInfoId}, 
        	#{memberId}, 
        	#{content}, 
        	#{rating}
        )
    </insert>
    
    <select id="getReviewsByBathhouseInfoId" parameterType="Long" resultType="com.tanine.ttaettaelo.dto.ReviewDTO">
    	SELECT <!-- 리뷰 조회 -->
    		r.review_id 			AS reviewId,
    		b.bathhouse_info_id 	AS bathhouseInfoId,
    		r.member_id 			AS memberId,
    		r.content 				AS content,
    		r.rating 				AS rating,
    		r.created_at 			AS createdAt,
    		r.updated_at 			AS updatedAt,
    		m.name 					AS name
    	FROM ojt_review r
    	INNER JOIN ojt_member m ON r.member_id = m.member_id
    	LEFT JOIN ojt_bathhouse_info b on r.bathhouse_info_id = b.bathhouse_info_id
    	WHERE
    		b.bathhouse_info_id = #{bathhouseInfoId}
    	ORDER BY
    		review_id
    </select>
    
    <update id="updateReview" parameterType="com.tanine.ttaettaelo.dto.ReviewDTO">
	    UPDATE ojt_review <!-- 리뷰 수정 -->
	    SET content = #{content},
	        rating 	= #{rating}
	    WHERE review_id = #{reviewId}
	</update>
	
	<delete id="deleteReview" parameterType="Long">
	    DELETE FROM ojt_review <!-- 리뷰 삭제 -->
	    WHERE review_id = #{reviewId}
	</delete>
	
	<select id="getMyReviews" resultType="com.tanine.ttaettaelo.dto.ReviewDTO">
		SELECT <!-- 내가 쓴 댓글 리스트 얻기 -->
			r.review_id 			AS reviewId,
			r.rating 				AS rating,
			r.content 				AS content,
			b.bathhouse_info_id 	AS bathhouseInfoId,
			b.name AS name
		FROM ojt_review r
		INNER JOIN ojt_member m ON r.member_id = m.member_id
		LEFT JOIN ojt_bathhouse_info b ON r.bathhouse_info_id = b.bathhouse_info_id
		WHERE
			m.member_id = #{memberId}
	</select>
</mapper>